# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environnement virtuel
.venv/
venv/
env/

# Données générées lourdes
data/generated/
data_generated/
*.parquet

# Fichiers système
.DS_Store
Thumbs.db

# VS Code
.vscode/