# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environnement virtuel
.venv/
venv/
env/

# Donnees generees lourdes
data/*.csv
data/generated/*
backend/data/*.csv
backend/data/generated/*
data_generated/
*.parquet
backend/models/*
backend/outputs/*
models/*
outputs/*

# Keep generated folder structure
!data/generated/
!data/generated/.gitkeep
!backend/data/generated/
!backend/data/generated/.gitkeep
!backend/models/
!backend/models/.gitkeep
!backend/outputs/
!backend/outputs/.gitkeep
!models/
!models/.gitkeep
!outputs/
!outputs/.gitkeep

# Fichiers systeme
.DS_Store
Thumbs.db

# VS Code
.vscode/